<div class="row pt-4 mb-5 mt-2" style=" padding:none; width:100%; min-height:500px; background: url('/assets/images/Background.jpeg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
  <div class="col-md-6 ">
    <div class="card" style="border-radius: 5%;">
      <div class="card-header">
        <h5 style="text-align:center; color:royalblue"> Welcome to our Tender Page</h5>
      </div>
      <div >
        <p *ngFor="let stxt of standardText" class="ml-4 mr-4 text-justify">
         {{ stxt }} </p>
         </div>

    </div>
  </div>
  <div class="col-md-6 ">
    <div class="card" style="border-radius: 5%;">
      <div class="card-header">
        <h5 style="text-align:center">RFQ or Tenders for your attention</h5>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tender Ref</th>
            <th>RFQ Document</th>
            <th>Cutoff </th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rfqapis.rfqList | async">
            <td>{{ item.SUBMI }}</td>
            <td>{{ item.OBJTYPE }}</td>
            <td>{{ item.CUTOFF }}</td>
            <td>
              <button class="button btn-secondary btn-sm" (click)="chooselist(item)">
                Details...
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
  <!-- ******************************************************************* -->
