<div class="mt-3">
  <div class="row" style="background-color: aliceblue;">
    <div class="col-12 text-center mb-4" style="background-color: whitesmoke;">
      <h4>Request for Quotation {{ tender.refNo }} </h4>
    </div>
    <div class="col-lg-6">
      <div >
        <h6><b>Reference:</b> {{ tender.refType + '-' + tender.refNo  }} </h6>
        <h6><b>Cutoff Date:</b> {{ tender.cutoff }} at {{ tender.cutofftime }}</h6>
        <h6><b>Contact person: </b> {{ tender.contactName }}</h6>
        <h6><b>Email:</b> {{ tender.contactEmail }}</h6>
        <h6><b>Tel:</b> {{ tender.contactTel }}</h6>
      </div>
      <div class="row ml-1">
        <app-rfq-items></app-rfq-items>

      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a  [ngClass]="{'nav-link':true, 'active': panelname=='info'}" (click)="showPanel('info')" style="color:rgb(43, 43, 247);">Information</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{ 'nav-link':true, 'active': panelname=='docs'}" (click)="showPanel('docs')" style="color:rgb(43, 43, 247);">Upload Documents</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{ 'nav-link':true, 'active': panelname=='del'}" (click)="showPanel('del')"  style="color:rgb(43, 43, 247);">Delivery Details</a>
          </li>

        </ul>
      </div>
      <div class="row">
        <div class="card w-100" style="min-height:200px;">
          <div *ngIf="panelname==='info'" class="card-body pt-2 mb-4" >
            <div class="mb-2">
              <app-rfq-info [infoinput]="lclReqtext"></app-rfq-info>
            </div>


            <div class="mt-4">
              <button (click)="modalService.open('downloaddocs')" class=" btn btn-sm btn-outline-primary">Download Info
                Documents</button>
            </div>
          </div>
          <div *ngIf="panelname==='docs'" class="card-body pt-2 mb-4">
            <div class="row w-100 d-flex justify-content-center mt-4 text-center"
            style=" background-color: ghostwhite;">
            <b>Documents uploaded</b>
          </div>
          <div class="row w-100 ml-1">
            <ul class="w-100 list-group">
              <li class="list-group-item" *ngFor="let rfqdoc of apirfqdoc.tenderdoclist | async">
                <div class="row">
                  <div class="col-9">
                    <span> {{ rfqdoc.ORIGINALNAME }} </span>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-sm btn-secondary">Remove</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">

                <div class="d-flex justify-content-around">
                  <div>
                    <label for="file-upload" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Upload Response Document
                    </label>
                    <input type="file" id="file-upload" (change)="loaddoc($event.target.files)" />
                    {{myFile}}
                  </div>
                </div>
              </li>
            </ul>
          </div>
            </div>
            <div *ngIf="panelname==='del'" class="card-body pt-2 mb-4" >
              <div class=" text-center">

                <!-- <h2> Details for Delivery </h2>
                <hr>-->

                <div class=" mt-2">Location: {{ tender.locationname }}
                </div>
                <div class=" mt-2">
                  <a target="_blank" href="{{ tendergps }}" class=" btn btn-sm btn-outline-primary">View on Google maps</a>
                </div>

                <!-- <div class="mt-5 d-flex justify-content-center ">
                  <button class="btn btn-primary" (click)="modalService.close('delivery')">OK</button>
                </div>
              </div>
              <div class="mt-4">
                <a target="_blank" (click)="modalService.open('delivery')" class=" btn btn-sm btn-outline-primary">Delivery
                  Address</a>
              </div>-->
            </div>
        </div>

      </div>
      </div>


      <div class="row">
        <form [formGroup]="responseform">
          <b>
            Comment or Response
          </b>
          <div class="row mt-2  ml-1">
            <div class="form-group">
              <textarea id="right" rows="4" cols="80" class="form-control"
                placeholder="Additional Response Text can be added here" formControlName="response"></textarea>
            </div>
          </div>


          <div class="form-group ml-1">
            <small id="emailHelp" class="form-text text-muted">How long after the cut off will your prices be
              valid?</small>
            <input type="text" class="form-control" formControlName="validity" placeholder="e.g. 90 days">
          </div>
        </form>
        <!-- <div class="w-100 d-flex justify-content-around">
            <button (click)="sendresponse('all')" class="btn btn-outline-primary">Submit Response</button>
          </div> -->

      </div>
    </div>
  </div>

  <!-- <div class="row" style="border-top: 1px solid gray;background-color: aliceblue; ">
  <div class=" w-100 d-flex justify-content-center mb-2">
    <h6>Please Respond</h6>
  </div>
</div> -->
</div>
<div class="row mt-2 pt-2 pb-2 d-flex justify-content-around"
  style="border-top: 1px solid gray; background-color: lightsteelblue;">
  <a [routerLink]='["/"]' class="btn btn-sm btn-secondary" ngbTooltip="Remember to save ">
    Home
  </a>
  <a [routerLink]='["/topdf"]' class="btn btn-sm btn-secondary" ngbTooltip="Remember to save ">
    Full Page
  </a>
  <button (click)="sendresponse('commit')" *ngIf="(apirfqdoc.openitems != 0)" class="btn btn-sm btn-primary"
    ngbTooltip="Mark as Complete and ready for evaluation">
    Confirm Complete
  </button>
  <button (click)="sendresponse('all')" *ngIf="!(apirfqdoc.openitems != 0)" class="btn btn-sm btn-primary"
    ngbTooltip="Save on SAP when incomplete">
    Save as Draft
  </button>
  <button class="btn btn-sm btn-danger" (click)="modalService.open('rejection')"
    ngbTooltip="Remove yourself from this Tender list">
    Reject - Not Quoting
  </button>
</div>
<div class="row" style=" display:block; border-top: 1px solid gray; background-color: lightsteelblue;">
  <b>Note: </b><small> This is a Request for Quotation and Subject to our standard terms and conditions </small>
</div>

<jw-modal id="rejection">
  <div class="container text-center">
    <h2> Reason for Rejection </h2>
    <p>We are sorry to not have your Quotation?</p>
    <p>Please inform us of why are you unable to quote?</p>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" [(ngModel)]="rejectionOnce" class="form-check-input" value="">We are able to quote in
        other Tenders
      </label>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div><strong>Feedback </strong></div>
      <div class="btn btn-sm btn-outline-danger">?</div>
    </div>
    <div class="form-group">
      <textarea id="right2" rows="4" cols="80" class="form-control" [(ngModel)]="rejectionText"
        placeholder="Text explaining Rejection can be added here"></textarea>
    </div>
    <div class="row d-flex justify-content-around">
      <button class="btn btn-sm btn-primary" (click)="reject()">Confirm Rejection</button>
      <button class="btn btn-sm btn-danger" (click)="modalService.close('rejection')">Cancel</button>
    </div>
  </div>
</jw-modal>

<jw-modal id="downloaddocs">
  <div class="container text-center">

    <h2> Documents for Download </h2>
    <hr>
    <div class="row d-flex justify-content-center">
      <ul class="list-group">
        <!-- <li class="list-group-item" style="background-color: darkblue;">
          <div class="text-center" >
            <b style="color:white" > </b>
          </div>
        </li> -->
        <li class="list-group-item" *ngFor="let rfqdoc of apirfqdoc.biddoclist | async">
          <div class="row">
            <div class="col-9">
              <span style="color:blue;"> {{ rfqdoc.ORIGINALNAME }} </span>
            </div>
            <div class="col-2">
              <button (click)="downloaddoc(rfqdoc)" class="btn btn-sm btn-success">Download</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-5 d-flex justify-content-center ">
      <button class="btn btn-primary" (click)="modalService.close('downloaddocs')">OK</button>
    </div>
  </div>

</jw-modal>

<jw-modal id="requestmore2">
  <div class="container">
    <b>Request Description:</b>
    <div class="card" style="padding:15px 15px; border:0cm 2px-solid-black;">
      <p [innerHTML]="lclrequest"></p>
    </div>
    <div class="mt-4 d-flex justify-content-center ">
      <button class="btn btn-primary" (click)="modalService.close('requestmore')">OK</button>
    </div>
  </div>
</jw-modal>

<jw-modal id="delivery">
  <div class="container text-center">

    <h2> Details for Delivery </h2>
    <hr>

    <div class="row mt-2">Location: {{ tender.locationname }}
    </div>
    <div class="row mt-2">
      <a target="_blank" href="{{ tendergps }}" class=" btn btn-sm btn-outline-primary">View on Google maps</a>
    </div>

    <div class="mt-5 d-flex justify-content-center ">
      <button class="btn btn-primary" (click)="modalService.close('delivery')">OK</button>
    </div>
  </div>

</jw-modal>
