input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: green;
  color: white;
}
.nav-item {
  font-weight: bolder;
}
.nav {
  margin-left: 100px;
}
.form-control.ng-invalid {
  border: 1px solid red;
}
.alert-success {
  font-weight:bolder;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-tabs .nav-item {
  transform: skew(-22.5deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

li.nav-item:first-child::before {
  content: '';
  height: 40px;
  background: #fff;
  width: 20px;
  position: absolute;
  transform: skew(22.5deg);
  top: 1px;
  left: -24px;
}

.nav-tabs .nav-item a span {
  transform: skew(22.5deg);
  display: inline-block;
}

.nav-item > .active {
  background-color: whitesmoke;
}
