<!-- ******************************************************************* -->
<div >
    <!-- Editable table -->
    <div >
      <div style="max-height: 300px; overflow: auto;" >
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Text</th>
              <th class="text-center">Qty</th>
              <th class="text-center">Unit</th>
              <th class="text-center">Quoted</th>
              <th class="text-center">Edit</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of rfqapi.tender.tenderItems ">
              <td class="pt-3-half" contenteditable="true">{{ item.MTEXT}}</td>
              <td class="pt-3-half" contenteditable="true">{{ item.QUANTITY }}</td>
              <td class="pt-3-half" contenteditable="true">{{ item.UOM}}</td>
              <td class="pt-3-half" contenteditable="true">{{ item.bidprice | currency: '' }}</td>
              <td>
                <span><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                    (click)="open(item)">Edit</button></span>
              </td>
            </tr>
        </tbody>
        </table>

      </div>
    </div>

    <!-- Editable table -->


  <div class="modal-footer" style="background-color:ghostwhite;">
    <!-- <div class="col-sm-4">
      <a [ngClass]="(dirty)?'btn btn-success':'btn btn-outline-primary'" (click)="updateQuote()">Update</a>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-outline-danger" (click)="rfqapi.orchlist.show = 'baselist'">Cancel</a>
    </div> -->
  </div>
</div>

<jw-modal id="rfqitemedit">
  <app-rfq-item-detail (closer)="closeModal($event)"></app-rfq-item-detail>
</jw-modal>
