<!-- ******************************************************************* -->
<div class="row" >
    <!-- Editable table -->
    <div class="card">
      <div class="card-body" >
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Edit</th>
              <th class="text-center">Item No</th>
              <th class="text-center">Text</th>
              <th class="text-center">Qty</th>
              <th class="text-center">Unit</th>
              <th class="text-center">Quoted</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of rfqItems ">
              <td class="pt-1">
                <span *ngIf="checkval(item)"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                    (click)="open(item)">Quote</button></span>
                    <span *ngIf="!checkval(item)"><button type="button" class="btn btn-success btn-rounded btn-sm my-0"
                      (click)="open(item)">Edit</button></span>
              </td>
              <td class="pt-1" ><small>{{ item.ITEMNO}}</small></td>
              <td class="pt-1" style="font-size:small;" >{{ item.MTEXT}}</td>
              <td class="pt-1" ><small>{{ item.QUANTITY }}</small></td>
              <td class="pt-1"><small>{{ item.UOM}}</small></td>
              <td class="pt-1" ><small>{{ item.BIDPRICE | currency: ' ' }}</small></td>

            </tr>
        </tbody>
        </table>


      </div>
    <div *ngIf="paging" class="card-footer">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="pager(currentpage -1)"  >Previous</a></li>
          <li *ngFor="let page of pageframes" class="page-item" [ngClass]="page.index === currentpage ? 'active' : ' '"><a class="page-link" (click)="pager(page.index)">{{ page.index }}</a></li>
          <li class="page-item"><a class="page-link" (click)="pager(currentpage + 1)" >Next</a></li>
        </ul>
      </nav>
    </div>

  </div>
    <!-- Editable table -->


 <!-- <div class="modal-footer" style="background-color:ghostwhite;">
     <div class="col-sm-4">
      <a [ngClass]="(dirty)?'btn btn-success':'btn btn-outline-primary'" (click)="updateQuote()">Update</a>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-outline-danger" (click)="rfqapi.orchlist.show = 'baselist'">Cancel</a>
    </div>
  </div> -->
</div>

<jw-modal id="rfqitemedit">
  <app-rfq-item-detail (closer)="closeModal($event)"></app-rfq-item-detail>
</jw-modal>
