<!-- nav -->
<div class="container">
  <div class="row mt-3 justify-content-center align-self-center">
    <div class="col-lg-3 col-md-4 col-sm-8 ">
      <div>
        <img src="assets/images/logo2small.png" alt="logo">
      </div>
    </div>
    <div class="col-lg-9 col-md-4 col-sm-8">
    <div class="row">
      <div class="col-lg-3 col-md-8 col-sm-8 ">
        <img src="assets/images/phone.png" alt="phone">
        <a href="tel:0027126418000">+27 12 641 8000</a>
      </div>

      <!-- <div class="col-lg-3 col-md-8 col-sm-8 ">
        <img src="assets/images/email.png" alt="phone">
        <a href="mailto:info@bidvestfm.co.za">info@bidvestfm.co.za</a>
      </div> -->
      <div class ="col-lg-6 col-md-8 col-sm-8 ">
         <app-notice [blinking]="'X'">
        {{ devdocsnotice }}</app-notice>
      </div>
    </div>
    <div class="row">
      <div class="container"
      style=" padding-top:none;border-radius: 5px; border:none ; z-index: 3; width:100%; height:40px; ">
      <!--   <span class="mr-5 pl-4" style="color:white">{{username}}</span>
      <a class="ml-4 pl-4" style="cursor: pointer; color:white;" (click)="onLogout()" *ngIf="isAuthenticated()">Logout</a>-->
      <nav class='navbar navbar-expand-sm navbar-toggleable-sm  navbar-light '>
        <div class="container ">
           <a class="navbar-brand py-0" [routerLink]='["/"]'>Home</a>

          <ul class="navbar-nav flex-grow">
              <li><span class="mr-5 pl-4 py-0" style="color:slateblue">{{username}}</span></li>
              <li class="nav-item py-0" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>

                <a class="ml-4 pl-4 py-0" style="cursor: pointer; color:slateblue;" (click)="onLogout()"
                  *ngIf="isAuthenticated()">Logout</a>
              </li>
              <li class="nav-item py-0" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>

                <a class="ml-4 pl-4 py-0" style="cursor: pointer; color:slateblue;" (click)="onLogin()"
                  *ngIf="!isAuthenticated()">Login</a>
              </li>
          </ul>

        </div>
      </nav>
    </div>
    </div>
    <div class="row justify-content-centre" [hidden]="!msg">
     <h1 style="background-color: red; color: white;">{{ msg }}</h1>
    </div>

  </div>
</div>
</div>
<!-- main app container -->
<div class="container "  >


  <router-outlet></router-outlet>
</div>
