<div class="container">
<div class="row mt-1 mb-5" >
  <div class="col-4">

  </div>
  <div class="col-4 ">
<div class="card">
  <div class="card-header">
   <h2>Welcome Partner</h2>
  </div>
  <div class="card-body">
   <p>We are proud of our Vendor Partners who help us achieve World Class Standards</p>
   <p>This Portal is aimed at ensuring seamless communication with the Golden triangle of Client - BidvestFM and You- The Vendor</p>
  </div>
</div>
</div>
</div>
  <div class="d-flex justify-content-around" data-ng-show="token">
    <!-- Container for the image gallery -->


    <!-- Thumbnail images -->
    <div class="row mt-4">
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_air.jpg" ng-click="currentSlide(1)" alt="The Woods">
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_light.jpg" ng-click="currentSlide(2)" alt="Cinque Terre">
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_power.jpg" ng-click="currentSlide(3)"
          alt="Mountains and fjords">
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_clean.jpg" ng-click="currentSlide(4)" alt="Northern Lights">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_water.jpg" ng-click="currentSlide(1)" alt="The Woods">
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_bathroom.jpg" ng-click="currentSlide(2)" alt="Cinque Terre">
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_fire.jpg" ng-click="currentSlide(3)"
          alt="Mountains and fjords">
      </div>
      <div class="col-lg-3 col-md-6  col-sm-6 mt-2">
        <img class="demo cursor" src="./assets/images/img_other.jpg" ng-click="currentSlide(4)" alt="Northern Lights">
      </div>

    </div>
    <br>


  </div>

</div>
